workflows/AI_agent_chat.json
{
  "name": "AI agent chat",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "7f46f62e-12d6-40b5-91b2-d849c00320fe",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -2440,
        1100
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "plLcvv2UWU9qivEj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a helpful assistant for Achadirect. Answer the user's question \nclearly and politely. Only use the information in the provided content\nin the database.\n\nIf you cannot answer based on the content, say: \"I'm sorry, I couldn't find that information in our database.\"\n\nreturn a JSON object describing the type of the response.\nRespond in the following format:\n\n{\n  \"type\": \"<type>\",\n  \"data\": {\n    \"markdown\": \"<original_answer_here>\"\n  }\n}\n\nDo not invent content. Simply classify and wrap the response.\n"
        }
      },
      "id": "d6a3ce04-11d1-442e-af15-351652e57561",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -2300,
        840
      ],
      "typeVersion": 1.6,
      "retryOnFail": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "returning-user",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a3df8ab6-a255-4263-ba89-782ba45ca2b4",
      "name": "Webhook - Incoming Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2580,
        840
      ],
      "webhookId": "5efe0794-798c-47b1-b22d-8510a26048c2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook - Incoming Message').item.json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -2260,
        1100
      ],
      "id": "74f226fa-e5f2-405c-9f8a-1d5616ab3761",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "Y3Ieky0Fok6gKOVO",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "company_faq",
        "toolDescription": "Work with the data in Supabase vector store",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -2120,
        1120
      ],
      "id": "f2cdd9fb-c83b-45ff-b021-bdeb6949faad",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "kDUXmqQtM7DMW5gn",
          "name": "Supabase vector storage"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2080,
        1300
      ],
      "id": "3936b544-2a3a-4861-9993-a9545d72c775",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "plLcvv2UWU9qivEj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -2860,
        840
      ],
      "id": "97269d78-0b4d-40de-8530-7d67c74ea2b5",
      "name": "When chat message received",
      "webhookId": "fabe1c8b-d765-41d7-a1e3-81168dcf46c9"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1NZsn9BMwojU7LMaCac2UhBrPLMrskXp_",
          "mode": "list",
          "cachedResultName": "Klevu_data - Sheet1.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1NZsn9BMwojU7LMaCac2UhBrPLMrskXp_/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2300,
        1540
      ],
      "id": "ccc63d99-7ad8-4edf-b260-9c657a910c67",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "f0onP6oplsIDlehO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -2080,
        1540
      ],
      "id": "6ce5acfa-2813-4258-bc6d-d36101aa4a67",
      "name": "Supabase Vector Store1",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "kDUXmqQtM7DMW5gn",
          "name": "Supabase vector storage"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2120,
        1760
      ],
      "id": "97c5f8b5-319f-443b-b583-8904a2847b8a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "plLcvv2UWU9qivEj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -1960,
        1760
      ],
      "id": "4b24b741-192e-4f54-a046-3bed75eca9a5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -1940,
        1940
      ],
      "id": "a6e95eb5-0ecb-4249-84e5-6eb4d58ad644",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2540,
        1540
      ],
      "id": "8de6f0ac-469b-4e81-98bb-e74fac501f41",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8933b540-7b59-4ce3-9eac-e21fb8509780",
              "name": "type",
              "value": "={{ $json.type }}",
              "type": "string"
            },
            {
              "id": "00362b45-1d92-435b-a4c5-cf494a75655f",
              "name": "response",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1640,
        840
      ],
      "id": "0ca2f82f-8aad-45cc-88eb-3218edd69239",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const parsed = JSON.parse($json.output);\n\nreturn [{\n  json: {\n    type: parsed.type,\n    response: parsed.data.markdown\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1900,
        840
      ],
      "id": "b8f2123d-9dbe-4501-ae7e-70d3fe699576",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Incoming Message": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "74c57fc2-9670-44a9-b48d-6541f3c1dfba",
  "meta": {
    "templateId": "1954",
    "templateCredsSetupCompleted": true,
    "instanceId": "1bbb0955b78ce983a82bc84ec0248bb241112ea4b132a3abd83951596825e202"
  },
  "id": "8dlaG2bsd60dyNa8",
  "tags": []
}